#containerSection {
  display: flex;
}
h3 {
  color: goldenrod;
}
p {
  color: white;
  font-size: 20px;
}
.key {
  color: goldenrod;
}

section {
  display: flex;
  flex-direction: row;
  width: 80.5%;
  min-height: 200px;
  max-height: 500px;
  margin: 20px auto;
  flex-grow: 1 0 auto;
} 
#contImg {
  flex: 1;
  display: flex;
  justify-content: center;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  background-size: auto;
  box-shadow: 5px 2px 4px 1px rgba(0, 0, 0, 0.4);
}
#contDesc {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 15px;
  overflow: hidden;
}
.contentAll {
  background-color: #1a2a3a;
  border: 1px solid #c2a063;
  flex: 3 1 auto;
  white-space: nowrap;
  overflow: auto  ;
  display: flex;
  flex-direction: column;
}
.contentValor:has(.value:only-child) {
  align-items: center;
  justify-content: center;
  display: flex;
}
.contentValor {
  flex: 1 1 auto;
  padding-left: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.contentValorLibros{
  background-color: #1a2a3a;
  border: 1px solid #c2a063;
  overflow-x: auto;
  flex: 1 1 auto;
  padding-left: 15px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;  
  white-space: nowrap;
}

.contentValorLibrosR{
  background-color: #1a2a3a;
  border-top: 1px solid #c2a063;;
  overflow-x: auto;
  flex: 1 1 auto;
  padding-left: 17px;
  padding-right: 15px;
  display: flex;
  gap: 10px;
  align-items: center;  
  white-space: nowrap;
}


.contentValorLibros .key{
  padding-left: 7px;
}

.value {
  display: flex;
  gap: 20px;
  align-items: center;
  white-space: nowrap;
}
.contentAll:has(.contentValor:only-child) {
  white-space: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enl_cont{
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  align-items: center;}

a {
  display: block;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.enl_cont a:hover {
  text-decoration: underline;
}

.enl_cont p { 
  margin-left : 3px;
  padding-bottom: 10px;
  font-size: 1em;
  color: goldenrod;
  text-decoration: none;
 }

