---

import "../styles/cardCharacter.css";

export interface Props {
  name: string;
  description: string;
  img: string;
}

const { name, description, img } = Astro.props;
---

<div class="card">
  <img src={img} alt={name} class="card-img" />
  <div class="container">
    <h4><b>{name}</b></h4>
    <p>{description}</p>
  </div>
</div>
