---
---

<section>
    <div id="contImg">
        <img src="/assets/portadas/portada_1.jpg" /> 
    </div>
    <div id="contDesc">
        <div id="contDInfo">
            <h3>Nombre</h3>
            <p>asddddddddddddddddddddddddddddddddddd</p>
        </div>

        <div id="contEnl">
            <p>contENL</p>
        </div>
    </div>
    
</section>

<style>
    *{
        border: 1px solid white;
    }

    section{
        display: flex;
        flex-direction: row; 
        width: 90.5%;
        height: 400px;
        margin: 20px auto; 
    }

    #contImg{
        flex: 0 1 auto;
        display: flex;
    }

    img{
        flex: 2 1 auto;
        background-size: auto;
    }

    #contDesc{
        flex: 1 1 auto; 
        display: flex;
        margin: 0 0 0 20px;
        flex-direction: column;
    }

    #contDInfo{
        flex: 1 1 auto; 
        background-color: aliceblue;
    }

    #contEnl{
        flex: 1 1 auto; 
    }    

</style>
