---
import "@styles/sectionContext.css";

import type { Character } from "@lib/utils/fetchCharacterId";
import SectionDesc from "@components/SectionDesc.astro";

interface Props {
  character: Character;
}

const { character } = Astro.props;
console.log(character.name_Character);
console.log("MistBornType: ", character.mistBornType);
---

<section>
  <div id="contImg">
    <img src="/assets/portadas/portada_1.jpg" />
  </div>
  <div id="contDesc">
    <div class="contentAll">
      <SectionDesc
        key={["Nombre", "Fecha de Muerte", "Fecha de Nacimiento", "Spren", "MistBorn Type"]}
        value={[character.name_Character, character.fechaMuerte, character.fechaNacimiento, character.bondedSpren, character.mistBornType]}
      />
    </div>
    <div class="contentAll">
      <SectionDesc
        key={["Nombre"]}
        value={[character.name_Character]}
      />
    </div>
  </div>
  
</section>
