---
import Carousel from "./Carousel.astro";
---

<header>
  <h1>Cosmere Project</h1>
  <p>Prototipo de API del Cosmere</p>
</header>
<hr />

<main>
  <Carousel />
</main>

<style>


  main {
	margin-top: 80px;
  }

  body {
    background-color: #18181a;
  }

  header p {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px 1px #000;
    color: #ffff;
  }

  header h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px 1px #000;
    color: #fc9200;
  }

  hr {
    background-color: #333; /* Color de la línea */
    width: 80%; /* Ancho de la línea */
    margin: 20px auto; /* Margen para centrar */
  }
</style>
